---
import NavList from "./NavList.astro";
import { NavIcon } from "./react-components/icons/NavIcon";

---

<section
  class={`flex items-center justify-center h-full max-w-6xl mx-auto
           bg-green-300 md:p-5 gap-5 border lg:border-2 border-black
            shadow-[3px_4px_0px_0px_#000] `}
>
  <aside class="hidden md:flex md:flex-col gap-10 h-full">
    <header>
      <h1 class="text-xl font-imbplexmonobold">IndeThings</h1>
    </header>
    <nav class="flex flex-col gap-5 justify-between h-full text-xs font-roboto">
      <NavList/>
      <button class="flex text-left font-semibold items-center gap-1"><NavIcon iconName="preferences" /> Preferences</button>
    </nav>
  </aside>

  <section
    class="flex flex-col p-5 w-full h-full bg-white border lg:border-2 border-black"
  >
    <slot />
  </section>
</section>

