<div
  class="absolute inset-0 flex items-center justify-center text-center py-20 bg-black/50 z-20"
>
  <section class="bg-white/90 p-8 rounded-lg shadow-lg">
    <p class="font-imbplexmonobold text-2xl">Working on it...</p>
    <button
      onclick="window.history.back()"
      class="mt-6 px-4 py-2 bg-blue-500 text-white rounded-lg font-roboto cursor-pointer"
      >Go back</button
    >
  </section>
</div>
