---
import DashboardLayout from "@layouts/DashboardLayout.astro";
import WorkingOnIt from "@components/WorkingOnIt.astro";
---

<DashboardLayout title="Autocompleatado del ATF">
  <article class="flex flex-col h-full overflow-y-auto pt-20">
    <h1 class="text-3xl text-center font-imbplexmonosemi">
      Autocompleatado del ATF
    </h1>
    <section class="flex flex-col gap-2 w-full items-center pt-8">
      <p>
        En esta herramienta se puede completar el ATF con información básica de
        los productos.
      </p>
    </section>
    <section class="flex flex-col gap-2 w-full pt-14">
      <h2 class="text-2xl font-imbplexmonosemi">Formulario</h2>
    </section>
  </article>

  {/* <WorkingOnIt /> */}
</DashboardLayout>
