---
import DashboardContent from "@components/DashboardContent.astro";
import Iridescence from "@components/iridescense/Iridescence";
import Layout from "./Layout.astro";

interface Props {
  title: String;
}

const { title = "Dashboard" } = Astro.props;
---

<Layout title={`${title}`}>
  <main class="relative md:p-10 h-full">
    <div class="hidden md:block absolute top-0 left-0 w-screen h-screen -z-10 bg-animation transition-all">
      <Iridescence
        color={[1, 1, 1]}
        mouseReact={false}
        amplitude={0.1}
        speed={1.0}
        client:idle
      />
    </div>
    <DashboardContent>
      <slot />
    </DashboardContent>
  </main>
</Layout>

<style>
  .bg-animation{
    opacity: 0;
    animation: bgAnimation 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
  }
  
  @keyframes bgAnimation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

</style>
