---
import ItemsList from "@components/ItemsList.astro";
import DashboardLayout from "@layouts/DashboardLayout.astro";
import { getCollection } from "astro:content";

const all = await getCollection("how_to");
const fixedData = all.map((value:any) => {
  const info = {
    ...value.data,
    slug: value.slug,
  }
  return info;
});
---

<DashboardLayout title="How To">
  <h1 class="text-2xl font-imbplexmonobold">How To</h1>
  <ItemsList items={fixedData} noItems="No hay tutoriales disponibles" />
</DashboardLayout>
